<%=form_for(payment) do |f|%>
	<%if payment.errors.any?%>
		<h2><%=pluralize(payment.errors.count,"error")%> evitaron que el pago se guardara</h2>
	<%end%>
	<div class="field">
		<%=f.hidden_field :apartment_id, value: apartment.id%>
	</div>
	<div class="action">
		<%=content_tag :button, type: :submit, class:"btn btnk-succes" do%>
			<i class="fa fa-shopping-cart"></i> Reservar
		<%end%>
	</div>
<%end%>