<h1><i class="fa fa-shopping-cart"></i>Pagar</h1>
<ul class="list-group">
	<%@payments.each do |payment|%>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-6">
					<%=payment.apartment.title%>
				</div>
				<div class="col-md-3">
					<%="#{payment.apartment.price}USD" unless payment.apartment.price.nil?%>
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</li>
	<%end%>

	<li>
		<div class="row">
			<div class="col-md-8">Total</div>
			<div class="col-md-3">
				<%=current_user.costo_compra_pendiente%> USD
			</div>
		</div>
	</li>
</ul>
<div data-no-turbolinks>
	<%=link_to(payments_express_path, class: "btn btn-info btn-lg") do%>
		<i class="fa fa-money"></i> Pagar
	<%end%>
</div>