@import "bootstrap";
.no-float{
	float:none;
}
#fondo{
  filter: blur(5px);
  width: auto;
  height: auto;
  
 }
.custom{
  margin-bottom: 50px;
}
#custom.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom.navbar-default {
    font-size: 18px;
    background-color: rgba(223, 105, 26, 1);
    border-bottom-width: 0px;
}
#custom.navbar-default .navbar-nav>li>a {
    color: rgba(224, 224, 224, 1);
    background-color: rgba(223, 105, 26, 1);
}
#custom.navbar-default .navbar-nav>li>a:hover,
#custom.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(204, 97, 20, 1);
}
#custom.navbar-default .navbar-nav>.active>a,
#custom.navbar-default .navbar-nav>.active>a:hover,
#custom.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(204, 97, 20, 1);
}
#custom.navbar-default .navbar-toggle {
    border-color: #cc6114;
}
#custom.navbar-default .navbar-toggle:hover,
#custom.navbar-default .navbar-toggle:focus {
    background-color: #cc6114;
}
#custom.navbar-default .navbar-toggle .icon-bar {
    background-color: #cc6114;
}
#custom.navbar-default .navbar-toggle:hover .icon-bar,
#custom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #df691a;
}
.formborder{
    max-width: 500px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    border-radius: 6%;
  }
.btn-info{
  background-color: #DF691A;
  border-color: #DF691A;
}
.white{
  color: white !important
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
#carousel-arrows{
  background-color: transparent !important ;
}
.apartment-height{
  height: 150px;
}
.background-cover{
  background-position: center !important;
 background-size: cover !important;
}
.relative{
    position:relative;
}
.absolute{
   position:absolute;
}
.rounded { 
 border-radius: 20px;
 overflow:hidden;
}
.margin-sup{
  margin-top: 3px;
}