@import "bootstrap";
.no-float{
	float:none;
}

#fondo{
  filter: blur(5px);
  width: auto;
  height: auto;
  
 }

#custom.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom.navbar-default {
    font-size: 18px;
    background-color: rgba(223, 105, 26, 1);
    border-bottom-width: 0px;
}
#custom.navbar-default .navbar-nav>li>a {
    color: rgba(224, 224, 224, 1);
    background-color: rgba(223, 105, 26, 1);
}
#custom.navbar-default .navbar-nav>li>a:hover,
#custom.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(204, 97, 20, 1);
}
#custom.navbar-default .navbar-nav>.active>a,
#custom.navbar-default .navbar-nav>.active>a:hover,
#custom.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(204, 97, 20, 1);
}
#custom.navbar-default .navbar-toggle {
    border-color: #cc6114;
}
#custom.navbar-default .navbar-toggle:hover,
#custom.navbar-default .navbar-toggle:focus {
    background-color: #cc6114;
}
#custom.navbar-default .navbar-toggle .icon-bar {
    background-color: #cc6114;
}
#custom.navbar-default .navbar-toggle:hover .icon-bar,
#custom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #df691a;
}
#sha{
    max-width: 500px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    border-radius: 6%;
  }

  .login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
 
}

.padingup{
    padding: 80px !important;
}