<div class="container well formborderCategory">
	<div class="row">
		<div class="form_title">
			<h1>Nueva Categoría</h1>
		</div>
		<div class="col-md-9 center-block no-float">
		<%= render 'form' %>
		<%= link_to 'Volver', categories_path %>
		</div>
	</div>
</div>
