<div class="row page-title">
        <div class="container clear-padding text-center flight-title">
            <h3>Propiedades</h3>
            <h4 class="thank">Explora L@s <%= @category.name %> Disponibles</h4>
        </div>
    </div>

<div style="margin-top:4px">
	<%= link_to 'Volver', categories_path, class:"btn btn-info"%>
</div>

</div>
</div>