<section class="nuevoApartment">
	<div class="container">
		<div class="form_main col-xs-6">
			<div class="form_title">
				<h1>Editar Departamento</h1>
			</div>
			<%= render 'form' %>
			<%= link_to 'Ver', @apartment %> |
			<%= link_to 'Volver', apartments_path %>
		</div>
		<div class="map_form col-xs-6">
			<div id="map_info"><h1>Favor ingrese una dirección para ver mapa</h1></div>
  			<div id="map" style='width: 100%; height: 400px;'></div>
		</div>
	</div>
</section>
