<div class="container" style="margin:0 auto;">
    <h1>Propiedades</h1>
        <div class="row">
            <%= render @apartments %>
        </div>
        <div class="col-md field top-space">
            <%if can? :create, Apartment %>
                <%= link_to "Publicar uno nuevo", new_apartment_path,class:" button "%>
            <%end%>
            <div class="top-space text-center">
                <%= will_paginate @apartments%>
            </div>
        </div>
</div>