<div class="row page-title">
        <div class="container clear-padding text-center flight-title">
            <h3>Propiedades</h3>
            <h4 class="thank">Explora Las Propiedades disponibles</h4>
        </div>
    </div>
    <!-- END: PAGE TITLE -->
<!-- START: LISTING AREA-->
<div class="row">
    <div class="container clear-padding">
        <!-- START: INDIVIDUAL LISTING AREA -->
        <div class="hotel-listing text-center">
            <!-- START: HOTEL GRID VIEW -->
            <%= render @apartments.publicados_sinArrrendar.ultimos %>
            <div class="clearfix"></div>
            <!-- END: HOTEL GRID VIEW -->
            <!-- START: PAGINATION -->
<%= will_paginate @apartments, renderer: BootstrapPagination::Rails %>
            <!-- END: PAGINATION -->
        </div>
        <!-- END: INDIVIDUAL LISTING AREA -->
    </div>
</div>