<section class="nuevoApartment">
	<div class="container well formborderApartment">
	<div class="row">
	<div class="form_title">
		<h1>Añadir Nueva Propiedad</h1>
	</div>
		<div class="col-md-9 center-block no-float">
			
			<%= render 'form' %>

			<%= link_to 'Volver', apartments_path %>
		</div>
		</div>
		</div>
</section>
